<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="popup.js"></script>
        <script src="content.js"></script>
        <title>Tagger</title>
    </head>
    <body>
        <!-- <div id="output" class="editable medium-editor-element" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="1" medium-editor-index="0de74c57-8a53-6da7-e3b4-a3dcf72d2ed6" data-placeholder="Type your text" data-medium-focused="true">
        </div> -->
        <div id="output"></div>
    </body>
</html>
