enamex[type=person] {
	background-color: blue;
	color: white;
}

enamex[type=location] {
	background-color: red;
}

enamex[type=organization] {
	background-color: green;
	color: white;
}

enamex {
	background-color: yellow;
}

